{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link rel="stylesheet" type="text/css" href ="{% static 'wordcount/style.css' %}">
    </head>
    <body>
        
        <section>
            <h1>WORD COUNT</h1>
            <a href = "{% url 'about' %}"><h1>About</h1></a><br>
            <p1 class="para1">Type some words and hit count to know the no. of words</p1>
            <form action = "{% url 'count' %}">
                <textarea cols = "50" rows = "20" name="fulltext"></textarea><br>
                <input type = "submit" value = "Count!!">
            </form>
        </section>
        
    </body>
</html>